body{
  background-color:#163315;
  color: #FFFFFF;
  font-family:Lucinda Console;
  margin: 0px;
}
h1{
  color:#50C878;
}
u1{
  color:#FFFFFF;
}
p{
  color:#FFFFFF;
}
h2{
  color:#FFFFFF;
}
.container{
  display:flex;
  background-color:#000000;
  width: 90%;
  margin: 100px auto;
  padding: 50px;
  border: 8px solid #DADADA;
  border-radius: 20px;
  min-height:100vh;
}

.sidebar{
  flex: 1;
  width:30%;
  background:#000000;
  padding:30px;
  border-radius:20px;
}

.projects
{
  flex: 2;
  width:70%;
  background:#000000;
  padding:30px;
  border-radius:20px;
  overflow-y:auto;
  max-height:90vh;
}
  
