body{
  background_color:#111;
  color: #50C878;
  font-family:Lucinda Console;
  margin: 0px;
}
h1{
  color:#50C878;
}

.container{
  background-color:#111;
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 50px;
  border: 8px solid #000000;
  border-radius: 20px;
}
  
