body{
  background_color:#50C878;;
  color: #111;
  font-family:Lucinda Console;
  margin: 0px;
}
h1{
  color:#50C878;
}

.container{
  background-color:#111;
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 50px;
  border: 8px solid #000000;
  border-radius: 20px;
}
  
